:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 80%;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.name:hover, .age:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px lightslategrey;
}